:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --darker-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --lighter-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 74%);
    --icon-color: hsl(184, 19%, 68%);
    --fw-light: 400;
    --fw-normal: 500;
    --fw-bold: 700;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--light-grayish-cyan);
}

.container {
    width: 100%;
}

.logo {
    margin: 2em;
    display: flex;
    justify-content: center;
}

main {
    background: var(--white);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 0.75em;
    padding-bottom: 1.5em;
}

.calculator__box, .result__box {
    width: 80%;
    margin: auto;
}

h3 {
    font-size: 0.65em;
    color: var(--darker-grayish-cyan);
}

.calculator__box article h3 {
    margin-bottom: 0.5em;
}

.input__container {
    width: 100%;
    background: var(--lighter-grayish-cyan);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    
}

.input__container.error, .input__container.error:hover{
    outline: 2px solid var(--red);
}

.input__container:hover {
        outline: 2px solid var(--strong-cyan);
    }

.input__container img {
    padding-left: 0.65em;
}

.article__title, .section__title {
    display: flex;
    justify-content: space-between;
}

.article__title p, .section__title p {
    font-size: 0.5em;
    color: var(--red);
    font-weight: var(--fw-bold);
    transform: translateY(0.5em);
    display: none;
}

#dollar {
    width: 11px;
    height: 17px;
    filter: invert(88%) sepia(16%) saturate(313%) hue-rotate(135deg) brightness(81%) contrast(89%);
}

#person {
    width: 13px;
    height: 16px;
}

input {
    width: 80%;
    height: 80%;
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    font-weight: var(--fw-bold);
    text-align: end;
    border: none;
    background: var(--lighter-grayish-cyan);
    color: var(--very-dark-cyan);
    padding-right: 0.6em;
    outline: none;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input::placeholder {
    color: var(--icon-color);
}

section {
    margin: 1.5em 0 0.8em;
}

.tip__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75em;
}

.radio__container {
    height: 2.2em;
    border-radius: 5px;
    border: none;
    color: var(--white);
    background: var(--very-dark-cyan);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    font-family: 'Space Mono', monospace;
    font-weight: var(--fw-bold);
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__container.checked {
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
    outline: 2px solid var(--strong-cyan);
}

@media (hover:hover){
    .radio__container.checked:hover{
        background: var(--strong-cyan);
        color: var(--very-dark-cyan);
        outline-color: var(--strong-cyan);
    }
}


.radio {
    display: none;
}

.radio__container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.radio__container--custom {
    background: var(--lighter-grayish-cyan);
    color: var(--darker-grayish-cyan);
    font-size: 0.9em;
    
}

.radio__container--custom label {
    cursor: text;
}

.radio__container--custom.unchecked label{
    /* display: none; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0;
    padding-right: 0.9em;
    width: 100%;
}

.radio__container--custom.checked {
    background: transparent;
    display: none;
    outline: none;
}

.radio__container--custom.checked.error {
    outline: 2px solid var(--red);
}

.radio__container--custom.checked input {
    width: calc(100% - 1em);
    height: calc(100% - 2px);
    padding-right: 1em;
    border-radius: 5px;
}


.radio__container--custom.checked input::placeholder {
    display: flex;
    align-items: center;
}

.checked input::placeholder {
    color: var(--darker-grayish-cyan);
}

@media (hover:none) {
    .radio__container {
        background: var(--very-dark-cyan);
        transition: background-color 0.4s ease-in-out;
    }

    .radio__container:hover {
        background: var(--strong-cyan);
        transition: background-color 0.4s ease-in-out;
        outline: 2px solid var(--strong-cyan);
        outline-offset: -1px;
        color: var(--very-dark-cyan);
    }

    .radio__container--custom:hover {
        outline: none;
    }

    .input--custom.active {
        outline: 2px solid var(--strong-cyan);
    }

    .input--custom.error {
        outline: 2px solid var(--red);
    }
}

@media (hover:hover){
    .radio__container:hover {
        background: var(--light-grayish-cyan);
        color: var(--very-dark-cyan);
        cursor: pointer;
        outline: 3px solid var(--light-grayish-cyan);
        outline-offset: -1px;
    }
    .radio__container:active {
        outline: none;
        background: var(--strong-cyan);
    }

    .radio__container--custom:hover {
        outline: 2px solid var(--strong-cyan);
    }

    .radio__container.checked.error{
        outline: none;
    }

    .input--custom.error {
        outline: 2px solid var(--red);
    }
}

.radio__container--custom, .radio__container--custom:hover {
    background: var(--lighter-grayish-cyan);
    color: var(--darker-grayish-cyan);
}


.result__box {
    background: var(--very-dark-cyan);
    border-radius: 15px;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.result__box article, .result__box button {
    width: 85%;
}

.result__box article {
    margin-top: 1em;
    padding: 0;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
}

.result__box h3 {
    margin-bottom: 0;
    color: var(--white);
    font-size: 0.6em;
    width: 35%;
}

#total {
    margin-top: 0;
}

.result__box h3 span {
    color: var(--darker-grayish-cyan);
    font-size: 0.9em;
}

.result__box--tip, .result__box--total {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    overflow: hidden;
}

.dollar {
    margin-top: 1em;
    margin-right: 0.1em;
    margin-bottom: 0;
    width: 14px;
    height: 20px;
    filter: invert(61%) sepia(60%) saturate(489%) hue-rotate(122deg) brightness(91%) contrast(94%);
    font-weight: var(--fw-bold);
}

.result__box p {
    margin-top: 0.25em;
    font-size: 1.4em;
    color: var(--strong-cyan);
    font-weight: var(--fw-bold);
    margin-bottom: 0;
    
}

.result__box--total img {
    margin-top: 0.5em;
}

.result__box--total p {
    transform: translateY(-0.35em);
}

.reset__button {
        width: 100%;
        height: 100%;
        text-align: center;
    }

.result__box button {
    background: var(--strong-cyan);
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    color: var(--very-dark-cyan);
    padding: 0.3em 0;
    font-family: 'Space Mono', monospace;
    margin: 1em 0 1.2em;
    cursor: pointer;
    outline: 2px solid var(--strong-cyan);
    outline-offset: -1px;
}

@media (hover:hover) {
    .result__box button:hover {
        background: var(--light-grayish-cyan);
        outline: 2px solid var(--light-grayish-cyan);
        outline-offset: -1px;
    }
}
.result__box button:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}



/* Desktop version */

@media screen and (min-width: 1000px){
    body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        margin-top: -1.5em;
    }
    .container {
        width: 70%;
    }

    main {
        padding-top: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 20px;
        padding: 1.25em 0.25em 1.25em 0;
    }

    .logo {
        padding-top: 1em;
        margin-bottom: 1.75em;
    }

    .calculator__box, .result__box {
        height: 100%;
        margin: auto;
    }

    .calculator__box {
        width: 85%;
        transform: translateX(0.25em);
        padding-bottom: 0.5em;
    }

    .calculator__box article h3 {
        margin-top: 1em;
    }

    .calculator__box section {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }


    .tip__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .result__box {
        width: 92.5%;
        margin-left: 0;
        /* display: grid;
        grid-template-rows: 1fr 1fr 2fr; */
        justify-items: center;
        transform: translateX(0.5em);
    }

    .result__box article{
        padding-bottom: 0.5em;
    }

    .result__box h3 {
        width: 30%;
    }
    .result__box--tip, .result__box--total {
        width: 70%;
    }

    .reset__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}