:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --darker-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --lighter-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 74%);
    --icon-color: hsl(184, 19%, 68%);
    --fw-light: 400;
    --fw-normal: 500;
    --fw-bold: 700;
    font-size: 24px;
    font-family: 'Space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--light-grayish-cyan);
}

.container {
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 2em;
}

main {
    padding-top: 0.75em;
    padding-bottom: 1.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--white);
}

.calculator__box, .result__box {
    width: 80%;
    margin: auto;
}

h3 {
    font-size: 0.65em;
    color: var(--darker-grayish-cyan);
}

.calculator__box article h3 {
    margin-bottom: 0.5em;
}

.input__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    background: var(--lighter-grayish-cyan);
}

.input__container:hover {
    outline: 2px solid var(--strong-cyan);
}

.input__container.error, .input__container.error:hover {
    outline: 2px solid var(--red);
}

.input__container img {
    padding-left: 0.65em;
}

.article__title, .section__title {
    display: flex;
    justify-content: space-between;
}

.article__title p, .section__title p {
    display: none;
    font-size: 0.5em;
    font-weight: var(--fw-bold);
    color: var(--red);
    transform: translateY(0.5em);
}

#dollar {
    width: 11px;
    height: 17px;
    filter: invert(88%) sepia(16%) saturate(313%) hue-rotate(135deg) brightness(81%) contrast(89%);
}

#person {
    width: 13px;
    height: 16px;
}

input {
    width: 80%;
    height: 80%;
    padding-right: 0.6em;
    border: none;
    outline: none;
    background: var(--lighter-grayish-cyan);
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    font-weight: var(--fw-bold);
    color: var(--very-dark-cyan);
    text-align: end;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input::placeholder {
    color: var(--icon-color);
}

section {
    margin: 1.5em 0 0.8em;
}

.tip__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75em;
}

.radio__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    border: none;
    border-radius: 5px;
    background: var(--very-dark-cyan);
    font-family: 'Space Mono', monospace;
    font-size: 0.9em;
    font-weight: var(--fw-bold);
    color: var(--white);
    letter-spacing: 0.1em;
}

.radio__container.checked {
    outline: 2px solid var(--strong-cyan);
    background: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

@media (hover:hover) {
    .radio__container.checked:hover{
        outline-color: var(--strong-cyan);
        background: var(--strong-cyan);
        color: var(--very-dark-cyan);
    }
}

.radio {
    display: none;
}

.radio__container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.radio__container--custom {
    background: var(--lighter-grayish-cyan);
    font-size: 0.9em;
    color: var(--darker-grayish-cyan);
}

.radio__container--custom label {
    cursor: text;
}

.radio__container--custom.unchecked label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 0.9em;
    letter-spacing: 0;
}

.radio__container--custom.checked {
    display: none;
    outline: none;
    background: transparent;
}

.radio__container--custom.checked.error {
    outline: 2px solid var(--red);
}

.radio__container--custom.checked input {
    width: calc(100% - 1em);
    height: calc(100% - 2px);
    padding-right: 1em;
    border-radius: 5px;
}

.radio__container--custom.checked input::placeholder {
    display: flex;
    align-items: center;
}

.checked input::placeholder {
    color: var(--darker-grayish-cyan);
}

@media (hover:none) {
    .radio__container {
        background: var(--very-dark-cyan);
        transition: background-color 0.4s ease-in-out;
    }

    .radio__container:hover {
        outline: 2px solid var(--strong-cyan);
        outline-offset: -1px;
        background: var(--strong-cyan);
        color: var(--very-dark-cyan);
        transition: background-color 0.4s ease-in-out;
    }

    .radio__container--custom:hover {
        outline: none;
    }

    .input--custom.active {
        outline: 2px solid var(--strong-cyan);
    }    
}

@media (hover:hover) {
    .radio__container:hover {
        outline: 3px solid var(--light-grayish-cyan);
        outline-offset: -1px;
        background: var(--light-grayish-cyan);
        color: var(--very-dark-cyan);
        cursor: pointer;
    }
    .radio__container:active {
        outline: none;
        background: var(--strong-cyan);
    }

    .radio__container--custom:hover {
        outline: 2px solid var(--strong-cyan);
    }
}

.radio__container.checked.error {
    outline: none;
}

.input--custom.error {
    outline: 2px solid var(--red);
}

.radio__container--custom, .radio__container--custom:hover {
    background: var(--lighter-grayish-cyan);
    color: var(--darker-grayish-cyan);
}

.result__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    background: var(--very-dark-cyan);
    border-radius: 15px;
    overflow: hidden;
}

.result__box article, .result__box button {
    width: 85%;
}

.result__box article {
    display: flex;
    margin-top: 1em;
    padding: 0;
}

.result__box h3 {
    width: 40%;
    margin-bottom: 0;
    font-size: 0.6em;
    color: var(--white);
}

#total {
    margin-top: 0;
}

.result__box h3 span {
    font-size: 0.9em;
    color: var(--darker-grayish-cyan);
}

.result__box--tip, .result__box--total {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    overflow: hidden;
}

.dollar {
    width: 21px;
    height: 27px;
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: 0.1em;
    font-weight: var(--fw-bold);
    transform: translateY(-5px);
    filter: invert(61%) sepia(60%) saturate(489%) hue-rotate(122deg) brightness(91%) contrast(94%);
}

.result__box p {
    margin-top: 0.25em;
    margin-bottom: 0;
    font-size: 1.4em;
    font-weight: var(--fw-bold);
    color: var(--strong-cyan);
    overflow: auto;
}

.result__box p::-webkit-scrollbar {
    height: 4px;
}

.result__box p::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px var(--dark-grayish-cyan); 
}

.result__box p::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px var(--white); 
    border-radius: 10px;
}

.result__box--total img {
    margin-top: 0.5em;
}

.result__box--total p {
    transform: translateY(-0.35em);
}

.reset__button {
    width: 100%;
    height: 100%;
    text-align: center;
}

.result__box button {
    margin: 1em 0 1.2em;
    padding: 0.3em 0;
    border: none;
    border-radius: 5px;
    outline: 2px solid var(--strong-cyan);
    outline-offset: -1px;
    background: var(--strong-cyan);
    font-family: 'Space Mono', monospace;
    font-size: 0.9em;
    font-weight: var(--fw-bold);
    color: var(--very-dark-cyan);
    text-transform: uppercase;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}

.result__box button.inactive {
    outline: none;
    background: rgb(7, 96, 100);
    transition: background-color 0.4s ease-in-out;
}

@media (hover:hover) {
    .result__box button:hover {
        outline: 2px solid var(--light-grayish-cyan);
        outline-offset: -1px;
        background: var(--light-grayish-cyan);
        transition: background-color 0s ease-in-out;
    }
    .result__box button.inactive:hover {
        outline: none;
        background: rgb(7, 96, 100);
        transition: background-color 0.4s ease-in-out;
    }
}

.result__box button:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 700px) {
    .tip__container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .result__box h3 {
        font-size: 0.65em;
    }
    .result__box--tip, .result__box--total {
        font-size: 1.2em;
        transform: translateY(-0.2em);
    }
    .dollar {
        width: 23px;
        height: 29px;
        transform: translateY(-3px);
    }
}

/* Desktop version */

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        margin-top: -1.5em;
    }
    .container {
        width: 90%;
    }
    
    .logo {
        margin-bottom: 1.75em;
        padding-top: 1em;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.25em 0.25em 1.25em 0;
        border-radius: 20px;
    }

    .calculator__box, .result__box {
        height: 100%;
        margin: auto;
    }

    .calculator__box {
        width: 85%;
        padding-bottom: 0.5em;
        transform: translateX(0.25em);
    }

    .calculator__box article h3 {
        margin-top: 1em;
    }

    .calculator__box section {
        margin-top: 0.75em;
        margin-bottom: 0.75em;
    }

    .tip__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .result__box {
        justify-items: center;
        width: 92.5%;
        margin-left: 0;
        transform: translateX(0.5em);
    }

    .result__box article {
        padding-bottom: 0.5em;
    }

    .result__box h3 {
        width: 30%;
        font-size: 0.7em;
    }

    .result__box--tip, .result__box--total {
        width: 70%;
        font-size: 1.3em;
    }

    .dollar {
        width: 25px;
        height: 31px;
    }

    .reset__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 80%;
    }
    .result__box--tip, .result__box--total {
        font-size: 1.4em;
    }
    .dollar {
        width: 27px;
        height: 33px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        width: 70%;
    }
    .result__box h3 {
        font-size: 0.75em;
    }
    .result__box--tip, .result__box--total {
        font-size: 1.5em;
    }
    .dollar {
        width: 29px;
        height: 35px;
    }
}